<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<test name="writeExcel">
		<parameter name="file" value="D:/Test/data.xlsx"></parameter>
		<parameter name="sheet" value="CreatePendingAcceptance"></parameter>
		<parameter name="mode" value="read"></parameter>
		<classes>
			<class name="com.movoto.tests.ExcelTest" />
		</classes>
	</test> <!-- Test -->
	<test name="readExcel">
		<parameter name="file" value="D:/Test/data.xlsx"></parameter>
		<parameter name="sheet" value="CreateChildWo"></parameter>
		<parameter name="mode" value="read"></parameter>
		<classes>
			<class name="com.movoto.tests.ExcelTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
